In [6]:
import pandas as pd
import numpy as np

--- Day 1: Report Repair ---
After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721
979
366
299
675
1456
In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?

In [10]:
l = [1721,
979,
366,
299,
675,
1456]
total = 2020
dict_l = {}
for elem in l:
    dict_l[elem] = total - elem
for elem in dict_l.values():
    if elem in dict_l.keys():
        print(f"{elem} x {dict_l[elem]} = {elem * dict_l[elem]}")
        break
print(dict_l)

299 x 1721 = 514579
{1721: 299, 979: 1041, 366: 1654, 299: 1721, 675: 1345, 1456: 564}

In [31]:
ip = pd.read_csv("./2020/input.csv", header=None)

In [32]:
l = ip[0].to_list()

In [23]:
def mult_2_2020(l):
    total = 2020
    dict_l = {}
    for elem in l:
        dict_l[elem] = total - elem
    for elem in dict_l.values():
        if elem in dict_l.keys():
            print(f"{elem} x {dict_l[elem]} = {elem * dict_l[elem]}")
            break

In [24]:
mult_2_2020(l)

1644 x 376 = 618144

In [ ]:
--- Part Two ---
The Elves in accounting are thankful for your help; 
one of them even offers you a starfish coin they had left over from a past vacation. 
They offer you a second one 
if you can find three numbers in your expense report that meet the same criteria.

Using the above example again, the three entries that sum to 2020 are 979, 366, and 675. 
Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

In [36]:
from itertools import combinations
def mult_3_2020(l):
    total = 2020
    comb_l = list(combinations(l,3))
    for elem in comb_l:
        if sum(elem) == total:
            print(elem[0] * elem[1] * elem[2])

In [37]:
l = [1721,
979,
366,
299,
675,
1456]
mult_3_2020(l)

241861950

In [38]:
ip = pd.read_csv("./2020/input.csv", header=None)
l = ip[0].to_list()
mult_3_2020(l)

173538720

In [ ]:
--- Day 2: Password Philosophy ---
Your flight departs in a few days from the coastal airport; 
the easiest way down to the coast from here is via toboggan.

The shopkeeper at the North Pole Toboggan Rental Shop is having a bad day. 
"Something's wrong with our computers; we can't log in!" You ask if you can take a look.

Their password database seems to be a little corrupted: 
some of the passwords wouldn't have been allowed by 
the Official Toboggan Corporate Policy that was in effect when they were chosen.

To try to debug the problem, 
they have created a list (your puzzle input) of passwords 
(according to the corrupted database) and the corporate policy when that password was set.

For example, suppose you have the following list:

1-3 a: abcde
1-3 b: cdefg
2-9 c: ccccccccc
Each line gives the password policy and then the password. 
The password policy indicates the lowest and highest number of times 
a given letter must appear for the password to be valid. 
For example, 1-3 a means that the password must contain a at least 1 time and at most 3 times.

In the above example, 2 passwords are valid. 
The middle password, cdefg, is not; 
it contains no instances of b, but needs at least 1. 
The first and third passwords are valid: 
they contain one a or nine c, both within the limits of their respective policies.

How many passwords are valid according to their policies?

In [7]:
l = [
    "1-3 a: abcde",
    "1-3 b: cdefg",
    "2-9 c: ccccccccc"
]
print(l)
pwd = pd.DataFrame(l)
pwd

['1-3 a: abcde', '1-3 b: cdefg', '2-9 c: ccccccccc']

                  0
0      1-3 a: abcde
1      1-3 b: cdefg
2  2-9 c: ccccccccc

In [8]:
pwd = pd.read_csv("./2020/2/input.csv", header=None)
pwd

                                 0
0                      1-2 x: xpxc
1                 1-5 b: bwlbbbbcq
2                  3-5 v: qvjjdhvl
3      9-12 t: ttfjvvtgxtctrntnhtt
4                      3-4 r: rqjw
..                             ...
995          5-7 n: lbwxnnnncnnwnv
996               8-9 k: kgkkkkkjf
997              7-9 l: llllllllll
998  15-19 p: pppbpcppxcptppvmpppb
999              3-4 m: fqmwcncsmp

[1000 rows x 1 columns]

In [9]:
def split_string(s):
    subs = s.split(":")
    string = subs[1].strip()
    vals = subs[0].split(' ')
    letter = vals[1]
    vals = vals[0].split('-')
    lo_limit = vals[0]
    hi_limit = vals[1]
    
    return pd.Series([string, letter, lo_limit, hi_limit])

In [11]:
pwd[['string', 'letter', 'lo_limit', 'hi_limit']] = pwd[0].apply(split_string)
pwd['lo_limit'] = pwd['lo_limit'].astype(int)
pwd['hi_limit'] = pwd['hi_limit'].astype(int)
pwd

,0,string,letter,lo_limit,hi_limit
0,1-2 x: xpxc,xpxc,x,1,2
1,1-5 b: bwlbbbbcq,bwlbbbbcq,b,1,5
2,3-5 v: qvjjdhvl,qvjjdhvl,v,3,5
3,9-12 t: ttfjvvtgxtctrntnhtt,ttfjvvtgxtctrntnhtt,t,9,12
4,3-4 r: rqjw,rqjw,r,3,4
...,...,...,...,...,...
995,5-7 n: lbwxnnnncnnwnv,lbwxnnnncnnwnv,n,5,7
996,8-9 k: kgkkkkkjf,kgkkkkkjf,k,8,9
997,7-9 l: llllllllll,llllllllll,l,7,9
998,15-19 p: pppbpcppxcptppvmpppb,pppbpcppxcptppvmpppb,p,15,19
999,3-4 m: fqmwcncsmp,fqmwcncsmp,m,3,4

In [12]:
import numpy as np
def is_pwd(s,letter, lo_limit, hi_limit):
#     print(s, letter, lo_limit, hi_limit)
    rt = 0
    found = s.count(letter)
    if ((found >= lo_limit) and (found <= hi_limit)):
        rt = 1
    return rt

In [13]:
pwd['is_pwd'] = np.vectorize(is_pwd)(pwd['string'],pwd['letter'],pwd['lo_limit'],pwd['hi_limit'])
pwd['is_pwd'].sum()

556

In [14]:
s = "abcdaae"
letter ="a"
s.count(letter)

3

In [ ]:
--- Part Two ---
While it appears you validated the passwords correctly, 
they don't seem to be what the Official Toboggan Corporate Authentication System is expecting.

The shopkeeper suddenly realizes that he just accidentally explained 
the password policy rules from his old job at the sled rental place down the street! 
The Official Toboggan Corporate Policy actually works a little differently.

Each policy actually describes two positions in the password, 
where 1 means the first character, 2 means the second character, 
and so on. (Be careful; Toboggan Corporate Policies have no concept of "index zero"!) 
Exactly one of these positions must contain the given letter. 
Other occurrences of the letter are irrelevant for the purposes of policy enforcement.

Given the same example list from above:

1-3 a: abcde is valid: position 1 contains a and position 3 does not.
1-3 b: cdefg is invalid: neither position 1 nor position 3 contains b.
2-9 c: ccccccccc is invalid: both position 2 and position 9 contain c.
How many passwords are valid according to the new interpretation of the policies?

In [23]:
s="abade"
letter ='a'
lo_limit = 1
hi_limit = 3
A = s[lo_limit - 1] == letter
B = s[hi_limit - 1] == letter
A ^ B

False

In [19]:
l = [
    "1-3 a: abcde",
    "1-3 b: cdefg",
    "2-9 c: ccccccccc"
]
print(l)
pwd = pd.DataFrame(l)
pwd

['1-3 a: abcde', '1-3 b: cdefg', '2-9 c: ccccccccc']

                  0
0      1-3 a: abcde
1      1-3 b: cdefg
2  2-9 c: ccccccccc

In [26]:
pwd = pd.read_csv("./2020/2/input.csv", header=None)
pwd

                                 0
0                      1-2 x: xpxc
1                 1-5 b: bwlbbbbcq
2                  3-5 v: qvjjdhvl
3      9-12 t: ttfjvvtgxtctrntnhtt
4                      3-4 r: rqjw
..                             ...
995          5-7 n: lbwxnnnncnnwnv
996               8-9 k: kgkkkkkjf
997              7-9 l: llllllllll
998  15-19 p: pppbpcppxcptppvmpppb
999              3-4 m: fqmwcncsmp

[1000 rows x 1 columns]

In [27]:
def split_string(s):
    subs = s.split(":")
    string = subs[1].strip()
    vals = subs[0].split(' ')
    letter = vals[1]
    vals = vals[0].split('-')
    lo_limit = vals[0]
    hi_limit = vals[1]
    
    return pd.Series([string, letter, lo_limit, hi_limit])

In [28]:
pwd[['string', 'letter', 'lo_limit', 'hi_limit']] = pwd[0].apply(split_string)
pwd['lo_limit'] = pwd['lo_limit'].astype(int)
pwd['hi_limit'] = pwd['hi_limit'].astype(int)
pwd

,0,string,letter,lo_limit,hi_limit
0,1-2 x: xpxc,xpxc,x,1,2
1,1-5 b: bwlbbbbcq,bwlbbbbcq,b,1,5
2,3-5 v: qvjjdhvl,qvjjdhvl,v,3,5
3,9-12 t: ttfjvvtgxtctrntnhtt,ttfjvvtgxtctrntnhtt,t,9,12
4,3-4 r: rqjw,rqjw,r,3,4
...,...,...,...,...,...
995,5-7 n: lbwxnnnncnnwnv,lbwxnnnncnnwnv,n,5,7
996,8-9 k: kgkkkkkjf,kgkkkkkjf,k,8,9
997,7-9 l: llllllllll,llllllllll,l,7,9
998,15-19 p: pppbpcppxcptppvmpppb,pppbpcppxcptppvmpppb,p,15,19
999,3-4 m: fqmwcncsmp,fqmwcncsmp,m,3,4

In [29]:
import numpy as np
def is_pwd(s,letter, lo_limit, hi_limit):
#     print(s, letter, lo_limit, hi_limit)
    rt = 0
    lo_flag = (s[lo_limit - 1] == letter)
    hi_flag = (s[hi_limit - 1] == letter)
    if ( lo_flag ^ hi_flag ):
        rt = 1
    return rt

In [30]:
pwd['is_pwd'] = np.vectorize(is_pwd)(pwd['string'],pwd['letter'],pwd['lo_limit'],pwd['hi_limit'])
pwd['is_pwd'].sum()

605

In [ ]:
--- Day 3: Toboggan Trajectory ---
With the toboggan login problems resolved, you set off toward the airport. While travel by toboggan might be easy, it's certainly not safe: there's very minimal steering and the area is covered in trees. You'll need to see which angles will take you near the fewest trees.

Due to the local geology, trees in this area only grow on exact integer coordinates in a grid. You make a map (your puzzle input) of the open squares (.) and trees (#) you can see. For example:

..##.......
#...#...#..
.#....#..#.
..#.#...#.#
.#...##..#.
..#.##.....
.#.#.#....#
.#........#
#.##...#...
#...##....#
.#..#...#.#
These aren't the only trees, though; 
due to something you read about once involving arboreal genetics and biome stability, 
the same pattern repeats to the right many times:

..##.........##.........##.........##.........##.........##.......  --->
#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....#..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..#...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.##.......#.##.......#.##.......#.##.......#.##.....  --->
.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........#.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...##....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#  --->
You start on the open square (.) in the top-left corner and 
    need to reach the bottom (below the bottom-most row on your map).

The toboggan can only follow a few specific slopes 
    (you opted for a cheaper model that prefers rational numbers); 
    start by counting all the trees you would encounter for the slope right 3, down 1:

From your starting position at the top-left, check the position that is right 3 and down 1. Then, check the position that is right 3 and down 1 from there, and so on until you go past the bottom of the map.

The locations you'd check in the above example are marked here with O where there was an open square and X where there was a tree:

..##.........##.........##.........##.........##.........##.......  --->
#..O#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....X..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#O#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..X...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.X#.......#.##.......#.##.......#.##.......#.##.....  --->
.#.#.#....#.#.#.#.O..#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........X.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.X#...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...#X....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...X.#.#..#...#.#.#..#...#.#.#..#...#.#  --->
In this example, traversing the map using this slope would cause you to encounter 7 trees.

Starting at the top-left corner of your map and following a slope of right 3 and down 1,
how many trees would you encounter?

Your puzzle answer was 289.

In [ ]:
--- Part Two ---
Time to check the rest of the slopes - you need to minimize the probability of a sudden arboreal stop, after all.

Determine the number of trees you would encounter if, for each of the following slopes, you start at the top-left corner and traverse the map all the way to the bottom:

Right 1, down 1.
Right 3, down 1. (This is the slope you already checked.)
Right 5, down 1.
Right 7, down 1.
Right 1, down 2.
In the above example, these slopes would find 2, 7, 3, 4, and 2 tree(s) respectively; multiplied together, these produce the answer 336.

What do you get if you multiply together the number of trees encountered on each of the listed slopes?

Your puzzle answer was 5522401584.

In [127]:
import pandas as pd
import numpy as np
import math

In [128]:
ip = []
f = open('./2020/3/example.txt','r')
for line in f:
    ip.append(list(line.rstrip('\n')))
f.close()

In [133]:
max_d= len(ip)
max_r = len(ip[0])

In [143]:
math.ceil(11/10 * 3)

4

In [145]:
ip_expanded = []
r=3
d=1
repeat_factor = math.ceil((max_d/max_r) * ( r / d ))
print(repeat_factor)
for elem in ip:
    ip_expanded.append(elem * repeat_factor)

3

In [146]:
len(ip_expanded),len(ip_expanded[0])

(11, 33)

In [102]:
#ip 
len(ip), len(ip[0])

(323, 31)

In [111]:
round(323 / 31), 31*11*3

(10, 1023)

In [149]:
slopes[0][1]

1

In [155]:
ip = []
f = open('./2020/3/example.txt','r')
for line in f:
    ip.append(list(line.rstrip('\n')))
f.close()

In [159]:
ip = []
f = open('./2020/3/input.txt','r')
for line in f:
    ip.append(list(line.rstrip('\n')))
f.close()

In [160]:
slopes =[
    (1,1),(3,1),(5,1),(7,1),(1,2)
]
# slopes =[
#   (3,1)
# ]
num_trees = []
max_r = len(ip[0])
max_d= len(ip)
for slope in slopes:
    r = slope[0]
    d = slope[1]
#     r = 3
#     d = 1
#     repeat_pattern = (round(len(ip)/len(ip[0])) + 1)* r
    repeat_factor = math.ceil((max_d/max_r) * ( r / d ))
#     print(repeat_pattern)
    ip_expanded = []
    for elem in ip:
        ip_expanded.append(elem * (repeat_factor))
    max_d_expanded = len(ip_expanded)
# print(max_d)
    pt_x=0
    pt_y=0
    count = 0
    while(pt_x <= max_d_expanded-1):
#     print(pt_x, pt_y)
        if (ip_expanded[pt_x][pt_y] == '#' ):
            count = count + 1
        pt_x = pt_x + d
        pt_y = pt_y + r
    num_trees.append(count)
    print(count)
print(np.prod(num_trees))

84
289
89
71
36
5522401584

In [110]:
len(ip_expanded[0])

1023

289

In [123]:
l=[2,4,9]
sum(l)
np.prod(l)

72