In [6]:
import pandas as pd
import numpy as np

--- Day 1: Report Repair ---
After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721
979
366
299
675
1456
In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?

In [10]:
l = [1721,
979,
366,
299,
675,
1456]
total = 2020
dict_l = {}
for elem in l:
    dict_l[elem] = total - elem
for elem in dict_l.values():
    if elem in dict_l.keys():
        print(f"{elem} x {dict_l[elem]} = {elem * dict_l[elem]}")
        break
print(dict_l)

299 x 1721 = 514579
{1721: 299, 979: 1041, 366: 1654, 299: 1721, 675: 1345, 1456: 564}

In [31]:
ip = pd.read_csv("./2020/input.csv", header=None)

In [32]:
l = ip[0].to_list()

In [23]:
def mult_2_2020(l):
    total = 2020
    dict_l = {}
    for elem in l:
        dict_l[elem] = total - elem
    for elem in dict_l.values():
        if elem in dict_l.keys():
            print(f"{elem} x {dict_l[elem]} = {elem * dict_l[elem]}")
            break

In [24]:
mult_2_2020(l)

1644 x 376 = 618144

In [ ]:
--- Part Two ---
The Elves in accounting are thankful for your help; 
one of them even offers you a starfish coin they had left over from a past vacation. 
They offer you a second one 
if you can find three numbers in your expense report that meet the same criteria.

Using the above example again, the three entries that sum to 2020 are 979, 366, and 675. 
Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

In [36]:
from itertools import combinations
def mult_3_2020(l):
    total = 2020
    comb_l = list(combinations(l,3))
    for elem in comb_l:
        if sum(elem) == total:
            print(elem[0] * elem[1] * elem[2])

In [37]:
l = [1721,
979,
366,
299,
675,
1456]
mult_3_2020(l)

241861950

In [38]:
ip = pd.read_csv("./2020/input.csv", header=None)
l = ip[0].to_list()
mult_3_2020(l)

173538720

In [ ]:
--- Day 2: Password Philosophy ---
Your flight departs in a few days from the coastal airport; 
the easiest way down to the coast from here is via toboggan.

The shopkeeper at the North Pole Toboggan Rental Shop is having a bad day. 
"Something's wrong with our computers; we can't log in!" You ask if you can take a look.

Their password database seems to be a little corrupted: 
some of the passwords wouldn't have been allowed by 
the Official Toboggan Corporate Policy that was in effect when they were chosen.

To try to debug the problem, 
they have created a list (your puzzle input) of passwords 
(according to the corrupted database) and the corporate policy when that password was set.

For example, suppose you have the following list:

1-3 a: abcde
1-3 b: cdefg
2-9 c: ccccccccc
Each line gives the password policy and then the password. 
The password policy indicates the lowest and highest number of times 
a given letter must appear for the password to be valid. 
For example, 1-3 a means that the password must contain a at least 1 time and at most 3 times.

In the above example, 2 passwords are valid. 
The middle password, cdefg, is not; 
it contains no instances of b, but needs at least 1. 
The first and third passwords are valid: 
they contain one a or nine c, both within the limits of their respective policies.

How many passwords are valid according to their policies?

In [7]:
l = [
    "1-3 a: abcde",
    "1-3 b: cdefg",
    "2-9 c: ccccccccc"
]
print(l)
pwd = pd.DataFrame(l)
pwd

['1-3 a: abcde', '1-3 b: cdefg', '2-9 c: ccccccccc']

                  0
0      1-3 a: abcde
1      1-3 b: cdefg
2  2-9 c: ccccccccc

In [8]:
pwd = pd.read_csv("./2020/2/input.csv", header=None)
pwd

                                 0
0                      1-2 x: xpxc
1                 1-5 b: bwlbbbbcq
2                  3-5 v: qvjjdhvl
3      9-12 t: ttfjvvtgxtctrntnhtt
4                      3-4 r: rqjw
..                             ...
995          5-7 n: lbwxnnnncnnwnv
996               8-9 k: kgkkkkkjf
997              7-9 l: llllllllll
998  15-19 p: pppbpcppxcptppvmpppb
999              3-4 m: fqmwcncsmp

[1000 rows x 1 columns]

In [9]:
def split_string(s):
    subs = s.split(":")
    string = subs[1].strip()
    vals = subs[0].split(' ')
    letter = vals[1]
    vals = vals[0].split('-')
    lo_limit = vals[0]
    hi_limit = vals[1]
    
    return pd.Series([string, letter, lo_limit, hi_limit])

In [11]:
pwd[['string', 'letter', 'lo_limit', 'hi_limit']] = pwd[0].apply(split_string)
pwd['lo_limit'] = pwd['lo_limit'].astype(int)
pwd['hi_limit'] = pwd['hi_limit'].astype(int)
pwd

,0,string,letter,lo_limit,hi_limit
0,1-2 x: xpxc,xpxc,x,1,2
1,1-5 b: bwlbbbbcq,bwlbbbbcq,b,1,5
2,3-5 v: qvjjdhvl,qvjjdhvl,v,3,5
3,9-12 t: ttfjvvtgxtctrntnhtt,ttfjvvtgxtctrntnhtt,t,9,12
4,3-4 r: rqjw,rqjw,r,3,4
...,...,...,...,...,...
995,5-7 n: lbwxnnnncnnwnv,lbwxnnnncnnwnv,n,5,7
996,8-9 k: kgkkkkkjf,kgkkkkkjf,k,8,9
997,7-9 l: llllllllll,llllllllll,l,7,9
998,15-19 p: pppbpcppxcptppvmpppb,pppbpcppxcptppvmpppb,p,15,19
999,3-4 m: fqmwcncsmp,fqmwcncsmp,m,3,4

In [12]:
import numpy as np
def is_pwd(s,letter, lo_limit, hi_limit):
#     print(s, letter, lo_limit, hi_limit)
    rt = 0
    found = s.count(letter)
    if ((found >= lo_limit) and (found <= hi_limit)):
        rt = 1
    return rt

In [13]:
pwd['is_pwd'] = np.vectorize(is_pwd)(pwd['string'],pwd['letter'],pwd['lo_limit'],pwd['hi_limit'])
pwd['is_pwd'].sum()

556

In [14]:
s = "abcdaae"
letter ="a"
s.count(letter)

3

In [ ]:
--- Part Two ---
While it appears you validated the passwords correctly, 
they don't seem to be what the Official Toboggan Corporate Authentication System is expecting.

The shopkeeper suddenly realizes that he just accidentally explained 
the password policy rules from his old job at the sled rental place down the street! 
The Official Toboggan Corporate Policy actually works a little differently.

Each policy actually describes two positions in the password, 
where 1 means the first character, 2 means the second character, 
and so on. (Be careful; Toboggan Corporate Policies have no concept of "index zero"!) 
Exactly one of these positions must contain the given letter. 
Other occurrences of the letter are irrelevant for the purposes of policy enforcement.

Given the same example list from above:

1-3 a: abcde is valid: position 1 contains a and position 3 does not.
1-3 b: cdefg is invalid: neither position 1 nor position 3 contains b.
2-9 c: ccccccccc is invalid: both position 2 and position 9 contain c.
How many passwords are valid according to the new interpretation of the policies?

In [23]:
s="abade"
letter ='a'
lo_limit = 1
hi_limit = 3
A = s[lo_limit - 1] == letter
B = s[hi_limit - 1] == letter
A ^ B

False

In [19]:
l = [
    "1-3 a: abcde",
    "1-3 b: cdefg",
    "2-9 c: ccccccccc"
]
print(l)
pwd = pd.DataFrame(l)
pwd

['1-3 a: abcde', '1-3 b: cdefg', '2-9 c: ccccccccc']

                  0
0      1-3 a: abcde
1      1-3 b: cdefg
2  2-9 c: ccccccccc

In [26]:
pwd = pd.read_csv("./2020/2/input.csv", header=None)
pwd

                                 0
0                      1-2 x: xpxc
1                 1-5 b: bwlbbbbcq
2                  3-5 v: qvjjdhvl
3      9-12 t: ttfjvvtgxtctrntnhtt
4                      3-4 r: rqjw
..                             ...
995          5-7 n: lbwxnnnncnnwnv
996               8-9 k: kgkkkkkjf
997              7-9 l: llllllllll
998  15-19 p: pppbpcppxcptppvmpppb
999              3-4 m: fqmwcncsmp

[1000 rows x 1 columns]

In [27]:
def split_string(s):
    subs = s.split(":")
    string = subs[1].strip()
    vals = subs[0].split(' ')
    letter = vals[1]
    vals = vals[0].split('-')
    lo_limit = vals[0]
    hi_limit = vals[1]
    
    return pd.Series([string, letter, lo_limit, hi_limit])

In [28]:
pwd[['string', 'letter', 'lo_limit', 'hi_limit']] = pwd[0].apply(split_string)
pwd['lo_limit'] = pwd['lo_limit'].astype(int)
pwd['hi_limit'] = pwd['hi_limit'].astype(int)
pwd

,0,string,letter,lo_limit,hi_limit
0,1-2 x: xpxc,xpxc,x,1,2
1,1-5 b: bwlbbbbcq,bwlbbbbcq,b,1,5
2,3-5 v: qvjjdhvl,qvjjdhvl,v,3,5
3,9-12 t: ttfjvvtgxtctrntnhtt,ttfjvvtgxtctrntnhtt,t,9,12
4,3-4 r: rqjw,rqjw,r,3,4
...,...,...,...,...,...
995,5-7 n: lbwxnnnncnnwnv,lbwxnnnncnnwnv,n,5,7
996,8-9 k: kgkkkkkjf,kgkkkkkjf,k,8,9
997,7-9 l: llllllllll,llllllllll,l,7,9
998,15-19 p: pppbpcppxcptppvmpppb,pppbpcppxcptppvmpppb,p,15,19
999,3-4 m: fqmwcncsmp,fqmwcncsmp,m,3,4

In [29]:
import numpy as np
def is_pwd(s,letter, lo_limit, hi_limit):
#     print(s, letter, lo_limit, hi_limit)
    rt = 0
    lo_flag = (s[lo_limit - 1] == letter)
    hi_flag = (s[hi_limit - 1] == letter)
    if ( lo_flag ^ hi_flag ):
        rt = 1
    return rt

In [30]:
pwd['is_pwd'] = np.vectorize(is_pwd)(pwd['string'],pwd['letter'],pwd['lo_limit'],pwd['hi_limit'])
pwd['is_pwd'].sum()

605

In [ ]:
--- Day 3: Toboggan Trajectory ---
With the toboggan login problems resolved, you set off toward the airport. While travel by toboggan might be easy, it's certainly not safe: there's very minimal steering and the area is covered in trees. You'll need to see which angles will take you near the fewest trees.

Due to the local geology, trees in this area only grow on exact integer coordinates in a grid. You make a map (your puzzle input) of the open squares (.) and trees (#) you can see. For example:

..##.......
#...#...#..
.#....#..#.
..#.#...#.#
.#...##..#.
..#.##.....
.#.#.#....#
.#........#
#.##...#...
#...##....#
.#..#...#.#
These aren't the only trees, though; 
due to something you read about once involving arboreal genetics and biome stability, 
the same pattern repeats to the right many times:

..##.........##.........##.........##.........##.........##.......  --->
#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....#..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..#...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.##.......#.##.......#.##.......#.##.......#.##.....  --->
.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........#.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...##....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#  --->
You start on the open square (.) in the top-left corner and 
    need to reach the bottom (below the bottom-most row on your map).

The toboggan can only follow a few specific slopes 
    (you opted for a cheaper model that prefers rational numbers); 
    start by counting all the trees you would encounter for the slope right 3, down 1:

From your starting position at the top-left, check the position that is right 3 and down 1. Then, check the position that is right 3 and down 1 from there, and so on until you go past the bottom of the map.

The locations you'd check in the above example are marked here with O where there was an open square and X where there was a tree:

..##.........##.........##.........##.........##.........##.......  --->
#..O#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....X..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#O#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..X...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.X#.......#.##.......#.##.......#.##.......#.##.....  --->
.#.#.#....#.#.#.#.O..#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........X.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.X#...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...#X....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...X.#.#..#...#.#.#..#...#.#.#..#...#.#  --->
In this example, traversing the map using this slope would cause you to encounter 7 trees.

Starting at the top-left corner of your map and following a slope of right 3 and down 1,
how many trees would you encounter?

Your puzzle answer was 289.

In [ ]:
--- Part Two ---
Time to check the rest of the slopes - you need to minimize the probability of a sudden arboreal stop, after all.

Determine the number of trees you would encounter if, for each of the following slopes, you start at the top-left corner and traverse the map all the way to the bottom:

Right 1, down 1.
Right 3, down 1. (This is the slope you already checked.)
Right 5, down 1.
Right 7, down 1.
Right 1, down 2.
In the above example, these slopes would find 2, 7, 3, 4, and 2 tree(s) respectively; multiplied together, these produce the answer 336.

What do you get if you multiply together the number of trees encountered on each of the listed slopes?

Your puzzle answer was 5522401584.

In [127]:
import pandas as pd
import numpy as np
import math

In [128]:
ip = []
f = open('./2020/3/example.txt','r')
for line in f:
    ip.append(list(line.rstrip('\n')))
f.close()

In [133]:
max_d= len(ip)
max_r = len(ip[0])

In [143]:
math.ceil(11/10 * 3)

4

In [145]:
ip_expanded = []
r=3
d=1
repeat_factor = math.ceil((max_d/max_r) * ( r / d ))
print(repeat_factor)
for elem in ip:
    ip_expanded.append(elem * repeat_factor)

3

In [146]:
len(ip_expanded),len(ip_expanded[0])

(11, 33)

In [102]:
#ip 
len(ip), len(ip[0])

(323, 31)

In [111]:
round(323 / 31), 31*11*3

(10, 1023)

In [149]:
slopes[0][1]

1

In [155]:
ip = []
f = open('./2020/3/example.txt','r')
for line in f:
    ip.append(list(line.rstrip('\n')))
f.close()

In [159]:
ip = []
f = open('./2020/3/input.txt','r')
for line in f:
    ip.append(list(line.rstrip('\n')))
f.close()

In [160]:
slopes =[
    (1,1),(3,1),(5,1),(7,1),(1,2)
]
# slopes =[
#   (3,1)
# ]
num_trees = []
max_r = len(ip[0])
max_d= len(ip)
for slope in slopes:
    r = slope[0]
    d = slope[1]
#     r = 3
#     d = 1
#     repeat_pattern = (round(len(ip)/len(ip[0])) + 1)* r
    repeat_factor = math.ceil((max_d/max_r) * ( r / d ))
#     print(repeat_pattern)
    ip_expanded = []
    for elem in ip:
        ip_expanded.append(elem * (repeat_factor))
    max_d_expanded = len(ip_expanded)
# print(max_d)
    pt_x=0
    pt_y=0
    count = 0
    while(pt_x <= max_d_expanded-1):
#     print(pt_x, pt_y)
        if (ip_expanded[pt_x][pt_y] == '#' ):
            count = count + 1
        pt_x = pt_x + d
        pt_y = pt_y + r
    num_trees.append(count)
    print(count)
print(np.prod(num_trees))

84
289
89
71
36
5522401584

In [110]:
len(ip_expanded[0])

1023

289

In [123]:
l=[2,4,9]
sum(l)
np.prod(l)

72

In [ ]:
--- Day 4: Passport Processing ---
You arrive at the airport only to realize that 
you grabbed your North Pole Credentials instead of your passport. 
While these documents are extremely similar, 
North Pole Credentials aren't issued by a country and 
therefore aren't actually valid documentation for travel 
in most of the world.

It seems like you're not the only one having problems, 
though; a very long line has formed for the automatic 
passport scanners, and the delay could upset your travel itinerary.

Due to some questionable network security, 
you realize you might be able to solve both of 
these problems at the same time.

The automatic passport scanners are slow because 
they're having trouble detecting which passports have all required 
fields. The expected fields are as follows:

byr (Birth Year)
iyr (Issue Year)
eyr (Expiration Year)
hgt (Height)
hcl (Hair Color)
ecl (Eye Color)
pid (Passport ID)
cid (Country ID)
Passport data is validated in batch files (your puzzle input). 
Each passport is represented as a sequence of key:value pairs 
separated by spaces or newlines. 
Passports are separated by blank lines.

Here is an example batch file containing four passports:

ecl:gry pid:860033327 eyr:2020 hcl:#fffffd
byr:1937 iyr:2017 cid:147 hgt:183cm

iyr:2013 ecl:amb cid:350 eyr:2023 pid:028048884
hcl:#cfa07d byr:1929

hcl:#ae17e1 iyr:2013
eyr:2024
ecl:brn pid:760753108 byr:1931
hgt:179cm

hcl:#cfa07d eyr:2025 pid:166559648
iyr:2011 ecl:brn hgt:59in
            
The first passport is valid - 
all eight fields are present. 

The second passport is invalid - 
it is missing hgt (the Height field).

The third passport is interesting; 
the only missing field is cid, so it looks like data from North Pole 
Credentials, not a passport at all! Surely, 
nobody would mind if you made the system temporarily ignore missing 
cid fields. Treat this "passport" as valid.

The fourth passport is missing two fields, cid and byr. 
Missing cid is fine, but missing any other field is not, 
so this passport is invalid.

According to the above rules, 
your improved system would report 2 valid passports.

Count the number of valid passports - those that have 
all required fields. 
Treat cid as optional. 
In your batch file, how many passports are valid?

In [132]:
file_path = "./2020/4/example.txt"
f = open(file_path,'r')
contents = f.readlines()
f.close()

In [95]:
file_path = "./2020/4/input.txt"
f = open(file_path,'r')
contents = f.readlines()
f.close()

In [133]:
l = []
sub_l = []
for elem in contents:
    if elem == '\n':
        l.append(sub_l)
        sub_l = []
    else:
        sub_l.append(elem)
l.append(sub_l)      
# l

In [134]:
new_l = []
for elem in l:
    s = "".join(elem)
    s = s.replace("\n"," ")
    s = s.strip()
    elem_l = s.split(" ")
    d = {}
    for elem in elem_l:
        kv=elem.split(':')
        d[kv[0]] = kv[1]
    new_l.append(d)
len(new_l)

4

In [99]:
# new_l

In [135]:
list_chk_1=['byr','cid','iyr' ,'eyr' ,'hgt' ,'hcl' ,'ecl' ,'pid' ]
list_chk_2=['byr','iyr' ,'eyr' ,'hgt' ,'hcl' ,'ecl' ,'pid' ]
list_chk_1 = sorted(list_chk_1)
list_chk_2 = sorted(list_chk_2)

In [89]:
ll = list(new_l[2].keys())
print(sorted(ll))
list_chk_1

['byr', 'ecl', 'eyr', 'hcl', 'hgt', 'iyr', 'pid']

['byr', 'cid', 'ecl', 'eyr', 'hcl', 'hgt', 'iyr', 'pid']

In [91]:
sorted(list_chk_2) == sorted(ll)

True

In [136]:
# for valid fields
cnt = 0
for passport in new_l:
    ll = sorted(list(passport.keys()))
    if  (ll == list_chk_1) or (ll == list_chk_2):
        cnt = cnt + 1
print(cnt)

2

In [ ]:
--- Part Two ---
The line is moving more quickly now, 
but you overhear airport security talking about how passports 
with invalid data are getting through. Better add some data validation, quick!

You can continue to ignore the cid field, 
but each other field has strict rules about what values are 
valid for automatic validation:

byr (Birth Year) - four digits; at least 1920 and at most 2002.
iyr (Issue Year) - four digits; at least 2010 and at most 2020.
eyr (Expiration Year) - four digits; at least 2020 and at most 2030.
hgt (Height) - a number followed by either cm or in:
If cm, the number must be at least 150 and at most 193.
If in, the number must be at least 59 and at most 76.
hcl (Hair Color) - a # followed by exactly six characters 0-9 or a-f.
ecl (Eye Color) - exactly one of: amb blu brn gry grn hzl oth.
pid (Passport ID) - a nine-digit number, including leading zeroes.
cid (Country ID) - ignored, missing or not.
Your job is to count the passports where all required fields are both present 
and valid according to the above rules. Here are some example values:

byr valid:   2002
byr invalid: 2003

hgt valid:   60in
hgt valid:   190cm
hgt invalid: 190in
hgt invalid: 190

hcl valid:   #123abc
hcl invalid: #123abz
hcl invalid: 123abc

ecl valid:   brn
ecl invalid: wat

pid valid:   000000001
pid invalid: 0123456789
Here are some invalid passports:

eyr:1972 cid:100
hcl:#18171d ecl:amb hgt:170 pid:186cm iyr:2018 byr:1926

iyr:2019
hcl:#602927 eyr:1967 hgt:170cm
ecl:grn pid:012533040 byr:1946

hcl:dab227 iyr:2012
ecl:brn hgt:182cm pid:021572410 eyr:2020 byr:1992 cid:277

hgt:59cm ecl:zzz
eyr:2038 hcl:74454a iyr:2023
pid:3556412378 byr:2007
Here are some valid passports:

pid:087499704 hgt:74in ecl:grn iyr:2012 eyr:2030 byr:1980
hcl:#623a2f

eyr:2029 ecl:blu cid:129 byr:1989
iyr:2014 pid:896056539 hcl:#a97842 hgt:165cm

hcl:#888785
hgt:164cm byr:2001 iyr:2015 cid:88
pid:545766238 ecl:hzl
eyr:2022

iyr:2010 hgt:158cm hcl:#b6652a ecl:blu byr:1944 eyr:2021 pid:093154719
Count the number of valid passports - those that have all required fields 
and valid values. Continue to treat cid as optional. 
In your batch file, 
how many passports are valid?

In [ ]:
byr (Birth Year) - four digits; at least 1920 and at most 2002.
iyr (Issue Year) - four digits; at least 2010 and at most 2020.
eyr (Expiration Year) - four digits; at least 2020 and at most 2030.
hgt (Height) - a number followed by either cm or in:
If cm, the number must be at least 150 and at most 193.
If in, the number must be at least 59 and at most 76.
hcl (Hair Color) - a # followed by exactly six characters 0-9 or a-f.
ecl (Eye Color) - exactly one of: amb blu brn gry grn hzl oth.
pid (Passport ID) - a nine-digit number, including leading zeroes.
cid (Country ID) - ignored, missing or not.
Your job is to count the passports where all required fields are both present 
and valid according to the above rules. Here are some example values:

In [163]:
file_path = "./2020/4/example_2.txt"
file_path = "./2020/4/input.txt"
f = open(file_path,'r')
contents = f.readlines()
f.close()

In [164]:
l = []
sub_l = []
for elem in contents:
    if elem == '\n':
        l.append(sub_l)
        sub_l = []
    else:
        sub_l.append(elem)
l.append(sub_l)      
# l

In [165]:
new_l = []
for elem in l:
    s = "".join(elem)
    s = s.replace("\n"," ")
    s = s.strip()
    elem_l = s.split(" ")
    d = {}
    for elem in elem_l:
        kv=elem.split(':')
        d[kv[0]] = kv[1]
    new_l.append(d)
len(new_l)

280

In [166]:
list_chk_1 = ['byr','iyr' ,'eyr' ,'hgt' ,'hcl' ,'ecl' ,'pid' ]
list_chk_2 = list_chk_1 + ['cid']
list_chk_1 = sorted(list_chk_1)
list_chk_2 = sorted(list_chk_2)

In [167]:
#validity chk
def chk_byr(byr):
    if (len(byr) == 4) and  (byr.isdigit()) :
          if (int(byr) >= 1920) and (int(byr) <=2002 ) :
                return True
    return False
def chk_iyr(iyr):
    if (len(iyr) == 4) and  (iyr.isdigit()) :
          if (int(iyr) >= 2010) and (int(iyr) <=2020 ) :
                return True
    return False
def chk_eyr(eyr):
    if (len(eyr) == 4) and  (eyr.isdigit()) :
        if (int(eyr) >= 2020) and (int(eyr) <=2030 ) :
                return True
    return False
def chk_hgt(hgt):
    # hgt (Height) - a number followed by either cm or in:
    # If cm, the number must be at least 150 and at most 193.
    # If in, the number must be at least 59 and at most 76.
    if (hgt[:-2].isdigit() and (hgt[-2:] == 'cm' or hgt[-2:]=='in')):
        if hgt[-2:] == 'cm':
            if (int(hgt[:-2]) >= 150) and (int(hgt[:-2]) <= 193) :
                return True
        elif hgt[-2:] == 'in':
            if (int(hgt[:-2]) >= 59) and (int(hgt[:-2]) <= 76) :
                return True
    return False

def chk_hcl(hcl):
    # hcl (Hair Color) - a # followed by exactly six characters 0-9 or a-f.
    if ( hcl[0] == '#' and
         hcl[1:].isalnum() and 
        len(hcl[1:]) == 6) :
        return True
    return False

def chk_ecl(ecl):
    # ecl (Eye Color) - exactly one of: amb blu brn gry grn hzl oth.
    list_ecl = ['amb','blu', 'brn', 'gry' ,'grn' ,'hzl', 'oth']
    if ecl in list_ecl:
        return True
    return False

def chk_pid(pid):
    # pid (Passport ID) - a nine-digit number, including leading zeroes.
    if (pid.isdigit() and len(pid) == 9):
        return True
    return False

cnt = 0
for passport in new_l:
    ll = sorted(list(passport.keys()))
    if  (ll == list_chk_1) or (ll == list_chk_2):
        if (chk_byr(passport['byr']) and 
            chk_iyr(passport['iyr']) and
            chk_eyr(passport['eyr']) and
            chk_hgt(passport['hgt']) and
            chk_hcl(passport['hcl']) and
            chk_ecl(passport['ecl']) and
            chk_pid(passport['pid']) 
           ):
#                 print(passport)
                cnt = cnt + 1
print(cnt)

137

In [125]:
t = '83i'
#t[1:].isalnum() and len(t[1:]) == 6
t[:-2].isdigit() and (t[-2:] == 'cm' or t[-2:]=='in')
#ecl:gry pid:860033327 eyr:2020 hcl:#fffffd
#byr:1937 iyr:2017 cid:147 hgt:183cm

False

In [127]:
list_ecl = ['amb','blu', 'brn', 'gry' ,'grn' ,'hzl', 'oth']
ecl = 'goy'
ecl in list_ecl

False

In [131]:
pid = '003332789'
(pid.isdigit() and len(pid) == 9)

True

In [ ]:
--- Day 5: Binary Boarding ---
You board your plane only to discover a new problem: 
    you dropped your boarding pass! 
You aren't sure which seat is yours, 
and all of the flight attendants are busy with the flood of people 
that suddenly made it through passport control.

You write a quick program to use your phone's 
camera to scan all of the nearby boarding passes (your puzzle input); 
perhaps you can find your seat through process of elimination.

Instead of zones or groups, this airline uses binary space partitioning 
to seat people. 
A seat might be specified like FBFBBFFRLR, 
where F means "front", B means "back", L means "left", and R means "right".

The first 7 characters will either be F or B; 
these specify exactly one of the 128 rows on the plane (numbered 0 through 127). 
Each letter tells you which half of a region the given seat is in. Start with the whole list of rows; the first letter indicates whether the seat is in the front (0 through 63) or the back (64 through 127). The next letter indicates which half of that region the seat is in, and so on until you're left with exactly one row.

For example, consider just the first seven characters of FBFBBFFRLR:

Start by considering the whole range, rows 0 through 127.
F means to take the lower half, keeping rows 0 through 63.
B means to take the upper half, keeping rows 32 through 63.
F means to take the lower half, keeping rows 32 through 47.
B means to take the upper half, keeping rows 40 through 47.
B keeps rows 44 through 47.
F keeps rows 44 through 45.
The final F keeps the lower of the two, row 44.
The last three characters will be either L or R; these specify exactly one of the 8 columns of seats on the plane (numbered 0 through 7). The same process as above proceeds again, this time with only three steps. L means to keep the lower half, while R means to keep the upper half.

For example, consider just the last 3 characters of FBFBBFFRLR:

Start by considering the whole range, columns 0 through 7.
R means to take the upper half, keeping columns 4 through 7.
L means to take the lower half, keeping columns 4 through 5.
The final R keeps the upper of the two, column 5.
So, decoding FBFBBFFRLR reveals that it is the seat at row 44, column 5.

Every seat also has a unique seat ID: multiply the row by 8, then add the column. 
    In this example, the seat has ID 44 * 8 + 5 = 357.

Here are some other boarding passes:

BFFFBBFRRR: row 70, column 7, seat ID 567.
FFFBBBFRRR: row 14, column 7, seat ID 119.
BBFFBBFRLL: row 102, column 4, seat ID 820.
As a sanity check, look through your list of boarding passes. 
What is the highest seat ID on a boarding pass?

In [218]:
def get_col(s):
    s= s.replace('R','1')
    s = s.replace('L','0')
    col = int(s,2)
    return col

def get_row(s):
    s= s.replace('B','1')
    s = s.replace('F','0')
    row = int(s,2)
    return row

def get_seatID(row,col):
    seat_id = (row * 8) + col
#     print(f"Row {row}, column {col}, seat ID {seat_id}")
    return seat_id

def get_max_seatID(list_bpass):
    list_seatid  = []
    list_row_col = []
    
    for elem in list_bpass:
        row = get_row(elem[:7])
        col = get_col(elem[-3:])
        seat_id = get_seatID(row,col)
        list_row_col.append((row,col))
        list_seatid.append(seat_id)
    print(f"The highest seat ID on a boarding pass is {max(list_seatid)}")
    return list_row_col

In [219]:
file_path = "./2020/5/example.txt"
file_path = "./2020/5/input.txt"

bpass = []
f = open(file_path,'r')
for line in f:
    bpass.append(line.rstrip('\n'))
f.close()
#bpass

In [220]:
r_c = get_max_seatID(bpass)

The highest seat ID on a boarding pass is 959

In [ ]:
--- Part Two ---
Ding! The "fasten seat belt" signs have turned on. Time to find your seat.

It's a completely full flight, 
so your seat should be the only missing boarding pass in your list. 
However, there's a catch: some of the seats at the very front and 
back of the plane don't exist on this aircraft, so they'll be missing from your list as well.

Your seat wasn't at the very front or back, though; 
the seats with IDs +1 and -1 from yours will be in your list.

What is the ID of your seat?

Your puzzle answer was 527.

In [222]:
# for calculating
l = []
for i in range(127):
    for j in range(8):
        if((i,j) not in r_c):
            l.append((i,j))

print(l)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (65, 7), (120, 0), (120, 1), (120, 2), (120, 3), (120, 4), (120, 5), (120, 6), (120, 7), (121, 0), (121, 1), (121, 2), (121, 3), (121, 4), (121, 5), (121, 6), (121, 7), (122, 0), (122, 1), (122, 2), (122, 3), (122, 4), (122, 5), (122, 6), (122, 7), (123, 0), (123, 1), (123, 2), (123, 3), (123, 4), (123, 5), (123, 6), (123, 7), (124, 0), (124, 1), (124, 2), (124, 3), (124, 4), (124, 5), (124, 6), (124, 7), (125, 0), (125, 1), (125, 2), (125, 3), (125, 4), (125, 5), (125, 6), (125, 7), (126, 0), (126, 1), (126, 2), (126, 3), (126, 4), (126, 5), (126, 6), (126, 7)]

In [229]:

r_c = get_max_seatID(bpass)
# for calculating
l = []
for i in range(127):
    for j in range(8):
        if((i,j) not in r_c):
            seat_id = get_seatID(i,j)
            if( seat_id <= 950 and seat_id >= 100):
                print(f"My Seat id {seat_id} for row {i}, column {j}")
#             l.append()
#             l.append((i,j))
# print(l)

The highest seat ID on a boarding pass is 959
My Seat id 527 for row 65, column 7

In [221]:
# r_c = [(1,2),(0,0),(0,1)]
# for printing
for i in range(127):
    l = []
    for j in range(8):
        if((i,j) in r_c):
            l.append(('*'))
        else:
            l.append((i,j))    
    print(l)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7)]
[(1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7)]
[(2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7)]
[(3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7)]
[(4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7)]
[(5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7)]
[(6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7)]
[(7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7)]
[(8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7)]
[(9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', (65, 7)]
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
['  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ', '  *  ']
[(120, 0), (120, 1), (120, 2), (120, 3), (120, 4), (120, 5), (120, 6), (120, 7)]
[(121, 0), (121, 1), (121, 2), (121, 3), (121, 4), (121, 5), (121, 6), (121, 7)]
[(122, 0), (122, 1), (122, 2), (122, 3), (122, 4), (122, 5), (122, 6), (122, 7)]
[(123, 0), (123, 1), (123, 2), (123, 3), (123, 4), (123, 5), (123, 6), (123, 7)]
[(124, 0), (124, 1), (124, 2), (124, 3), (124, 4), (124, 5), (124, 6), (124, 7)]
[(125, 0), (125, 1), (125, 2), (125, 3), (125, 4), (125, 5), (125, 6), (125, 7)]
[(126, 0), (126, 1), (126, 2), (126, 3), (126, 4), (126, 5), (126, 6), (126, 7)]

True

In [187]:
l = [3,8,1]
max(l)

8

In [185]:
#FBFBBFF

1000110

70

In [186]:
seat_id = (row * 8) + col
print(f"Row {row}, column {col}, seat ID {seat_id}")

Row 70, column 7, seat ID 567

In [ ]:
--- Day 6: Custom Customs ---
As your flight approaches the regional airport where you'll switch 
to a much larger plane, customs declaration forms are distributed to the passengers.

The form asks a series of 26 yes-or-no questions marked a through z. 
All you need to do is identify the questions for which anyone in your group answers "yes". 
Since your group is just you, this doesn't take very long.

However, the person sitting next to you seems to be experiencing 
a language barrier and asks if you can help. For each of the people in their group, 
you write down the questions for which they answer "yes", one per line. For example:

abcx
abcy
abcz
In this group, there are 6 questions to which anyone answered "yes": a, b, c, x, y, and z. 
(Duplicate answers to the same question don't count extra; each question counts at most once.)

Another group asks for your help, then another, and eventually 
you've collected answers from every group on the plane (your puzzle input). 
 Each group's answers are separated by a blank line, and within each group, 
 each person's answers are on a single line. For example:

abc

a
b
c

ab
ac

a
a
a
a

b
This list represents answers from five groups:

The first group contains one person who answered "yes" to 3 questions: a, b, and c.
The second group contains three people; combined, they answered "yes" to 3 questions: a, b, and c.
The third group contains two people; combined, they answered "yes" to 3 questions: a, b, and c.
The fourth group contains four people; combined, they answered "yes" to only 1 question, a.
The last group contains one person who answered "yes" to only 1 question, b.
In this example, the sum of these counts is 3 + 3 + 3 + 1 + 1 = 11.

For each group, count the number of questions to which anyone answered "yes". 
 What is the sum of those counts?

In [337]:
def read_input(file_path):
    rt_list = []
    list_grp = []
    f = open(file_path,'r')
    for line in f:
        if line != "\n" :
            list_grp.append(line.rstrip('\n'))
        if line == "\n":
            rt_list.append(list_grp)
            list_grp = []
#         list_grp.append(line)
    rt_list.append(list_grp)
    f.close()
#     print(rt_list)
    return rt_list

In [284]:
def wrangle_list_1(l):
    rt_list = []
    for elem in l:
        val = "".join(elem)
        rt_list.append(len(set(list(val))))
#     print(rt_list)
    print(sum(rt_list))
    return rt_list

In [286]:
def wrangle_list_2(l):
    rt_list = []
    for elem in l:
        print( elem )

In [287]:
l = read_input("./2020/6/example.txt")
# l = read_input("./2020/6/input.txt")
#wl = wrangle_list_1(l)
wrangle_list_2(l)

[['abc'], ['a', 'b', 'c'], ['ab', 'ac'], ['a', 'a', 'a', 'a'], ['b']]
['abc']
['a', 'b', 'c']
['ab', 'ac']
['a', 'a', 'a', 'a']
['b']

In [338]:
def wrangle_list_2(l):
    list_cnt = []
    for grp in l:
        sl=sorted(grp, key=len)
        chk = list(sl[0])
#         print(chk)
#         print(len(chk))
        cnt = len(chk)
        for chk_elem in chk:
            for elem in sl:
                if chk_elem not in elem:
                    cnt = cnt - 1
                    break
            
        list_cnt.append(cnt)
    print(list_cnt)
    return sum(list_cnt)

In [332]:
list of grp -- [['abc'], ['a', 'b', 'c'], ['ab', 'ac'], ['a', 'a', 'a', 'a'], ['b']]
in each grp --- ['abc']
sort the elem by length, 
create another list with shorted elem

SyntaxError: invalid syntax (<ipython-input-332-cdeb1731bf57>, line 1)

In [341]:
l = read_input("./2020/6/example.txt")
l = read_input("./2020/6/input.txt")
wrangle_list_2(l)
# wrangle_list_1(l)

[11, 0, 5, 8, 0, 0, 1, 5, 13, 8, 0, 3, 0, 2, 4, 2, 1, 0, 6, 3, 0, 7, 11, 10, 6, 15, 2, 10, 2, 4, 6, 8, 5, 5, 3, 1, 9, 4, 18, 1, 0, 13, 18, 11, 0, 17, 1, 1, 4, 21, 9, 0, 1, 0, 15, 3, 2, 1, 3, 4, 17, 0, 8, 8, 6, 1, 10, 4, 15, 0, 7, 14, 2, 2, 1, 3, 0, 0, 9, 2, 13, 1, 5, 10, 2, 4, 3, 5, 1, 0, 0, 8, 6, 5, 1, 1, 12, 17, 1, 2, 1, 8, 1, 11, 22, 0, 11, 2, 0, 8, 0, 7, 1, 7, 5, 15, 14, 12, 3, 0, 9, 1, 21, 11, 9, 4, 5, 8, 16, 0, 0, 3, 6, 8, 4, 9, 3, 13, 3, 10, 1, 5, 8, 12, 3, 4, 2, 5, 3, 7, 7, 1, 4, 3, 15, 6, 10, 14, 7, 11, 15, 12, 7, 4, 6, 1, 0, 2, 6, 5, 7, 9, 1, 7, 21, 6, 9, 3, 22, 14, 8, 2, 1, 7, 9, 4, 4, 5, 11, 0, 8, 2, 1, 0, 11, 2, 21, 2, 3, 3, 14, 8, 6, 6, 10, 10, 6, 9, 8, 1, 8, 4, 5, 2, 7, 7, 3, 20, 7, 13, 5, 8, 9, 11, 1, 0, 3, 2, 19, 3, 22, 7, 8, 5, 2, 1, 2, 10, 4, 8, 8, 10, 1, 12, 1, 2, 20, 1, 5, 15, 0, 4, 1, 14, 6, 1, 6, 1, 0, 4, 3, 5, 1, 5, 3, 1, 8, 0, 0, 0, 2, 21, 16, 5, 6, 2, 15, 5, 5, 14, 7, 5, 4, 19, 8, 3, 23, 1, 4, 11, 22, 17, 6, 2, 4, 2, 5, 8, 12, 4, 1, 9, 1, 5, 4, 1, 14, 8, 22, 9, 11, 6, 13, 9, 2, 9, 23, 9, 3, 5, 16, 7, 1, 12, 4, 6, 19, 16, 10, 5, 3, 1, 12, 3, 2, 1, 6, 9, 5, 2, 4, 11, 18, 0, 8, 8, 21, 4, 14, 4, 0, 13, 7, 3, 1, 2, 9, 5, 7, 6, 3, 1, 2, 3, 11, 11, 18, 1, 3, 0, 5, 1, 5, 2, 4, 5, 11, 15, 19, 1, 2, 9, 4, 5, 5, 8, 8, 0, 3, 2, 25, 13, 6, 0, 2, 11, 26, 4, 2, 4, 16, 3, 3, 2, 1, 4, 0, 2, 4, 0, 16, 2, 5, 7, 1, 21, 3, 3, 1, 11, 7, 6, 0, 7, 7, 3, 1, 9, 0, 20, 4, 1, 7, 15, 2, 2, 17, 3, 18, 6, 6, 0, 5, 9, 3, 2, 18, 9, 0, 17, 5, 4, 3, 3, 17, 10, 2, 14, 16, 6, 8, 1, 8, 1, 20, 5, 16, 9, 0, 0, 9, 1, 24, 9, 6, 2, 2, 1, 10, 9, 1, 7, 5, 1]

3122

In [316]:
'a' in 'bc'

False

In [267]:
len('abc')

3